.movies {
    padding: 0 70px;
    display: flex;
    flex-direction: column;
}

.movies__moreBtn {
    margin-top: 50px;
    margin-bottom: 80px;
    align-self: stretch;
}

.movies_error {
    color: red;
    align-self: center;
    margin-top: 40px;
}

.movies_noResult {
    align-self: center;
    margin-top: 40px;
}

@media screen and (max-width: 1024px) {
    .movies {
        padding: 0 30px;
    }
}

@media screen and (max-width: 540px) {
    .movies {
        padding: 0 10px;
    }
}
