.navBar {
    display: flex;
    align-items: center;
}

.navBar__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-right: 20px;
}

.navBar__link_active {
    font-weight: 500;
}

.navBar__movies {
    margin-right: 20px;
}

.navBar__savedMovies {
    margin-right: 50px;
}

@media screen and (max-width: 768px) {
    .navBar {
        display: none;
    }
}
