.registerForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registerForm__submitBtn {
    margin-top: 153px;
}

.registerForm_error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FF4062;
}

@media screen and (max-width: 1024px) {
    .registerForm__submitBtn {
        margin-top: 40px;
    }
}

@media screen and (max-width: 540px) {
    .registerForm {
        flex: 1;
        gap: 20px;
    }
    .registerForm__lastInput {
        flex: 1;
    }
    .registerForm__submitBtn {
        margin-top: 0px;
    }
}
