.menuIcon {
  display: none;
    width: 40px;
    height: 40px;
}

.menuIcon:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menuIcon {
        display: block;
    }
}
