.profileInputWithLabel {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 14px auto;
  gap: 10px;
}

.profileInputWithLabel__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  flex: 1;
}

.profileInputWithLabel__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  grid-column: 1/3;
}
