.moviesCard {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.moviesCard__img {

}

.moviesCard__nameContainer {
    border-bottom: 1px #E8E8E8 solid;
    margin-top: 14px;
    padding-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moviesCard__name {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.moviesCard__duration {
    margin-top: 6px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
}
