.input {
    height: 46px;
    background: #F9F9F9;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 15px;
}

.input_style_profile {
    height: 14px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    background: none;
    border: none;
    padding: 0;
}
