.login {
    max-width: 396px;
    min-width: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 70px auto 0;
    justify-content: center;
    align-items: stretch;
}

.login__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 40px 0 40px;
}

.login__alreadyRegisteredRow {
    align-self: center;
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.login__alreadyRegisteredText {
    color: #A0A0A0;
    margin-right: 6px;
}

@media screen and (max-width: 1024px) {
    .login {
        margin: auto;
    }
}

@media screen and (max-width: 540px) {
    .login {
        width: calc(100vw - 60px);
        height: 100vh;
        margin: 56px auto 30px;
    }
    .login__header {
        margin: 50px 0 80px;
        align-self: center;
    }
    .login__logo {
        align-self: center;
    }
    .login__alreadyRegisteredRow {
        font-size: 12px;
        line-height: 15px;
    }
}
